# Compiled binary and object files
/target/
**/*.rs.bk

# Build artifacts
*.d
*.obj
*.exe
*.dll
*.so
*.dylib

# Dependency directory (Cargo-specific)
Cargo.lock
/.cargo/

# IDE and editor-specific files
.idea/
/.vscode/
/*.iml

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.log
*.DS_Store
*.orig

# Rust documentation and test artifacts
doc/
*.profdata
*.profraw
